# Pandas `where` command

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({'x':range(10), 'y':np.random.normal(size=10)})
df

   x         y
0  0  1.393420
1  1 -2.197902
2  2  0.940355
3  3 -1.167599
4  4  1.090207
5  5 -0.489679
6  6  0.720132
7  7 -0.613115
8  8  0.857846
9  9  0.092973

In [30]:
# Tilde operator: in numpy, it's a vectorized not
print(~True)
print(~0)
print(~128)
# print(~0.0) Isn't defined
print(~np.array([0,1,2]))
print(~(np.array([0,1,2])>1))
print(~np.array([True,False]))

-2
-1
-129
[-1 -2 -3]
[ True  True False]
[False  True]

In [19]:
df.y.where(~(df.x>5), 42)

0      1.393420
1   -100.000000
2      0.940355
3   -100.000000
4      1.090207
5     -0.489679
6     42.000000
7     42.000000
8     42.000000
9     42.000000
Name: y, dtype: float64

In [8]:
# Cool way to update data
df = df.assign(y=df.y.where(~(df.y<-1), -100))
df

   x           y
0  0    1.393420
1  1 -100.000000
2  2    0.940355
3  3 -100.000000
4  4    1.090207
5  5   -0.489679
6  6    0.720132
7  7   -0.613115
8  8    0.857846
9  9    0.092973